/** Style Index 

1- Whole Page Styles. 
2- Navigation Bar Styles. 
3- Burger Navigation Styles.
4- Hero Section Styles. 
5- About Section Styles. 
6- Services Styles. 
7- Testimonials Styles. 
8- Contact Styles.
9- Footer Styles. 
10- Media Queries. 

**/

/* Sass Variables */

$color1: rgb(250, 60, 90);
$color2: rgb(252, 108, 140);
$color3: rgb(186, 241, 228);
$color4: rgb(72, 185, 138);

$titleFont: mostly-mono;
$secondaryFont: goodfish;
$desktopHeight: 55vh; 
$mobileHeight: 70vh;

$boxShadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

/* Sass Mixins */

@mixin flexSettings($direction, $justify, $align) {
	display: flex; 
	flex-direction: $direction;
	justify-content: $justify;
    align-items: $align;
    flex-wrap: wrap;
}


// 1- Whole Page Styles. 

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

@font-face {
	font-family: 'mostly-mono'; 
	src: url("mostly-mono.ttf");
}

@font-face {
	font-family: 'goodfish'; 
	src: url("goodfish.ttf");
}

h1 {
    font-family: $titleFont;
    color: $color1;
    font-size: 6rem;
    text-shadow: 2px 2px 4px gray;
}

h2 {
    font-family: $secondaryFont;
    color: $color2;
    font-size: 2rem;
}

h3 {
    font-family: $titleFont;
    font-size: 3rem;
    margin: 10px;
}

h4 {
    font-family: $titleFont;
    font-size: 2rem;
}

p {
    font-family: $secondaryFont;
    font-size: 1.2rem;
}

small {
    font-family: $titleFont;
    font-size: 1.2rem;
    margin: 5px;
}

i {
    margin: 5px;
}

button {
    background: $color4;
    border-radius: 5px;
    color: $color3;
    font-family: $titleFont;
    font-size: 2rem; 
    margin: 15px;
    border: 1px solid $color4;
    box-shadow: $boxShadow;
    outline: none;
    width: 300px;
    text-align: center;
}

button a {
    text-decoration: none;
    color: $color3;
}

button a:visited {
    color: $color3;
}

button:hover {
    animation: wobble 0.3s;
    cursor: pointer; 
}

button:active {
    transform: scale(0.98);
}

@keyframes wobble {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(2deg);}
    50% {transform: rotate(-4deg);}
    100% {transform: rotate(2deg);}
} 

svg {
    display: block;
}

.logo {
    width: 100px;
    margin: 5px;
}

#pageWrap {
    transition: all 0.2s ease;
}




//2- Navigation Bar Styles.
.header {
    width: 100%;
    background: $color3;
    @include flexSettings(row, space-evenly, center)
}

#header2 {
    display: none;
    position: fixed;
    z-index: 2;
    top: 0px;
}

.header a,  
#burger a {
    font-family: $titleFont;
    color: $color4;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.header a:hover {
    color: $color1;
}

.header a:active {
    transform: scale(0.98);
}

//3- Burger Menu Styles
#openButton {
    position: fixed;
    top: 5px;
    left: 5px;
    color: $color1;
    font-size: 3rem;
    display: none;
    background-color: $color3;
    border-radius: 10px;
    box-shadow: $boxShadow;
    width: 70px;
    height: 70px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

#burger {
    height: 100vh;
    background: $color4;
    z-index: 2;
    width: 0;
    float: left;
    text-align: center;
    overflow: hidden;
    position: fixed;
    transition: all 0.2s ease;
}

#burger > div {
    position: relative;
    top: 100px;
}

#burger div {
    margin-bottom: 50px;
}

#burger a {
    color: $color3;
}

#burger a:hover {
    color: $color2;
}

#mobLogo {
    margin: auto;
    margin-bottom: 20px;
}

#closeNav {
    text-align: right;
    margin: 10px
}

//4- Hero Section Styles
#hero {
    background: $color3;
    height: $desktopHeight;
    @include flexSettings(column, flex-end, left);
}

#hero div {
    max-width: 70vw;
    margin: 15px;
    margin-left: 60px;
}

#hero .callEmail {
    @include flexSettings(row, left, center);
}

//5- About Section Styles 

#about {
    @include flexSettings(row, space-evenly, center);
    height: $desktopHeight;
    margin-bottom: $desktopHeight;
    margin-top: $desktopHeight;
}
#aboutImage {
    background: url("images/sewing-about.jpg");
    background-size: cover;
    border-radius: 5px;
    box-shadow: $boxShadow;
}

#about div {
    min-width: 40vw;
    height: $desktopHeight;
    margin: 10px;
}

#about div:nth-child(2) {
    padding: 10px;
    text-align: center;
}

//6- Services Section Styles. 
#services {
    margin-top: 100px;
    @include flexSettings(row, space-evenly, center);
    margin-bottom: $desktopHeight;
}

.bottom {
    width: 400px;
    height: 300px;
    margin: 10px;
    border-radius: 5px;
    background-size: cover; 
    box-shadow: $boxShadow;
}

.bottom:first-child {
    box-shadow: 0px 0px 0px;
    text-align: center;
}

.bottom i {
    font-size: 3rem;
    margin:15px;
}

.top {
    background-color: $color4;
    height: 300px;
    width: 400px;
    border-radius: 5px;
    clip-path: circle(30% at 1% 1%);
    transition: 0.7s ease;
    transition-property: clip-path, background-color;
}

.top-inner {
    margin: 20px;
    text-align: center;
}

.bottom:hover > div {
    clip-path: circle(100%);
    background-color: $color3;
}

#service1 {
    background-image: url("images/sewing1.jpg");
}

#service2 {
    background-image: url("images/sewing2.jpg");
}

#service3 {
    background-image: url("images/sewing3.jpg");
}

#service4 {
    background-image: url("images/sewing4.jpg");
}

#service5 {
    background-image: url("images/sewing5.jpg");
}

#services .callEmail {
    @include flexSettings(row, center, center);
}

//7- Testimonials Section 
#testimonials {
    background-color: $color1;
    min-height: 60vh;
    @include flexSettings(column, space-evenly, center);
}

#testimonialsInner {
    background-color: $color3;
    width: 60%;
    height: 85%;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: $boxShadow;
}

@media only screen and (max-width: 1000px) {
    #testimonialsInner {
        width: 90%;
    }
}

#name {
    font-family: $titleFont;
    font-size: 3rem;
}

#review {
    font-family: $secondaryFont;
    font-size: 1.5rem;
}

.quote {
    font-size: 3rem;
}

.quote:first-child {
    text-align: left;
    margin-bottom: 20px;
}

.quote:last-child {
    text-align: right;
    margin-top: 20px;
}

#testimonials .callEmail {
    @include flexSettings(row, center, center);
}

//8- Contact Section 
#contact {
    @include flexSettings(row, space-evenly, center);
    margin-top: $desktopHeight;
}

#contact div {
    margin: 10px;
}

#contactTitle {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#contactInner {
    @include flexSettings(row, space-between, center);
}

#contact i {
    font-size: 3rem;
    margin: 15px;
}

#contact a {
    color: black;
}


//9- Footer Styles
footer {
    margin-top: 100px;
    @include flexSettings(row, space-around, center);
    width: 100%;
    background-color: $color2;
    font-family: $titleFont;
}

footer i {
    font-size: 2rem;
}

//10- Media Queries
@media only screen and (max-width: 960px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    #hero {
        height: $mobileHeight;
        @include flexSettings(column, center, left);
    }

    #hero div {
        max-width: 90vw;
        margin-left: 5px;
    }

    #about {
        height: $mobileHeight;
    }

    #about {
        margin-bottom: $mobileHeight;
    }

    #about p {
        font-size: 1rem;
    }

    #about div {
        width: 80vw;
        margin: 10px;
    }
}

@media only screen and (max-width: 740px) {
    button {
        font-size: 1.5rem;
        width: 200px;
    }

    #contactInner {
        @include flexSettings (column, center, center);
    }
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    small {
        font-size: 1rem;
    }

    button {
        font-size: 1.2rem;
        width: 150px;
        margin: 5px;
    }

    .bottom {
        width: 350px;
        height: 250px;
    }
    
    .top {
        height: 250px;
        width: 350px;
    }
}


/* 
827- testimonial after extends over div boundary.



About us text needs to scale.
center text on 'services'. 
testimonials text/before and after needs to scale.
*/

